.preloader-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    transform: translateY(100%);
    transition: .2s ease;
}

.preloader-container.show-preloader{
    transform: translateY(0);
    transition: .2s ease;
}
